
.homepage {
  text-align: center;
  padding: 50px 20px;
}

.homepage-title {
  font-size: 2.5rem;
  color: var(--primary-color);
}

.homepage-description {
  font-size: 1.2rem;
  color: var(--text-color);
  margin: 20px 0;
}

.homepage-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  transition: background-color 0.3s;
}

.homepage-button:hover {
  background-color: #005bb5;
}